/* _custom_links.scss implements custom link styles */

@use 'colors' as c;

.navlink-custom {
  a {
    color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
  }

  a:visited {
    color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
  }

  a:hover {
    color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 0.25rem solid c.$brand_green;
  }
}

  .navlink-custom-padder {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }