/* _custom_links.scss implements custom link styles */

@use 'colors' as c;

.navlink-custom {
  a {
    color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
  }

  a:visited {
    color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
  }

  a:hover {
    color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 0.25rem solid c.$brand_green;
  }
}

.download-button {
  a {
    color: c.$brand_green;
    background-color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
  }

  a:visited {
    color: c.$brand_green;
    background-color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
  }

  a:hover {
    color: c.$medium_grey;
    background-color: c.$dark_grey;
    font-size: 2.5rem;
    text-decoration: none;
  }

}

.email-link-custom-style {
  a {
    color: c.$brand_green;
    text-decoration: underline;
  }

  a:visited {
    color: c.$brand_green;
    text-decoration: none;
  }

  a:hover {
    color: c.$dark_grey;
    text-decoration: none;
  }
}

.rempadder-1 {
  padding: 1rem;
}

.navlink-custom-padder {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}